.container {
  background-color: #f7f7f7;
  border-radius: 0px 24px 24px 0px;
  padding: 32px 16px;
  text-align: center;
}

.text-heading {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.btn-sidebar {
  display: block;
  width: 100% !important;
  margin: 10px 0;
}

.btn-active {
  background-color: #503e9d;
}
